* {
    /* font-family: Arial, Helvetica, sans-serif; */
    box-sizing: border-box;
}

header {
    font-family: 'Gugi', cursive;
    font-size: 9vmin;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Teko', sans-serif;
    max-width: 100%;
}

main {
    display: grid;
    grid-template-columns: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    grid-template-rows: 8vmin 8vmin 10vmin 10vmin 20vmin 10vmin 5vmin;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
    max-width: 100%;
}

h1 {
    font-family: 'Teko', sans-serif;
    /* size: 10vmin; */
    border: 1px;
    color: black;
    text-align: center;
    max-width: 100%;
    /* border-color: rgb(228, 15, 15);
    border-style: solid; */
}

h2 {
    font-family: 'Teko', sans-serif;
    border: 1px;
    color: black;
    text-align: center;
    max-width: 100%;
    /* font-size: 5vmin; */
    /* border-color: rgb(228, 15, 15);
    border-style: solid; */
}

h3 {
    font-family: 'Teko', sans-serif;
    border: 1px;
    color: rgb(87, 84, 84);
    font-size: 24px;
    justify-items: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    /* font-size: 5vmin; */
    /* border-color: rgb(228, 15, 15);
    border-style: solid; */
}

h4 {
    font-family: 'Glegoo', serif;
    /* border-color: rgb(228, 15, 15);
    border-style: solid; */
}

.image {
    grid-column: span 3;
    display: flex;
    /* content: src("icon.JPG"); */
    /* max-width: 100%; */

}

img {
    max-width: 100%;
    min-width: 22vmin;
    height: auto;
}

button {
    width: 11vmin;
    height: 4vmin;
    font-family: 'Teko', sans-serif;
    font-size: 2vmin;
    background-color: black;
    color: white;
    border-color: white;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3vmin;
}

#roll {
    grid-column: 2/3;
}

#hold {

    grid-column: 6/7;
}

#winner {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#p1r5 {
    color: white;
}


#reset {
    /* flex-direction: row;
    justify-content: flex-start; */
    grid-column: 4/5;
    /* margin-bottom: 5vmin; */
}

#rules {
    grid-column: 4/5;
    font-family: 'Teko', sans-serif;
    /* margin: 20px 0px 10px 0px; */

}

#p1Total {
    color: red;
}

#p2Total {
    color: red;
}

button:hover {
    background-color: whitesmoke;
    color: black;
}

footer {
    /* display: flex; */
    align-self: center;
}

#watermark {
    background: url(images/watermark.png) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 10%;
    opacity: 18%;
}