* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    font-family: 'Gugi', cursive;
    font-size: 9vmin;
    text-align: center;
}

body {
    height: 100vh;
    flex-direction: column;
    font-family: 'Teko', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    grid-template-rows: 5vmin 5vmin 10vmin 10vmin 30vmin 10vmin 5vmin;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
}

h1 {
    font-family: 'Teko', sans-serif;
    border: 1px;
    color: black;
    /* border-color: rgb(228, 15, 15);
    border-style: solid; */
}

/* div {
    font-family: 'Teko', sans-serif;
    font-size: 3vmin;
    color: grey;

} */

h2 {
    font-family: 'Teko', sans-serif;
    border: 1px;
    color: black;
    /* font-size: 5vmin; */
    /* border-color: rgb(228, 15, 15);
    border-style: solid; */
}

h3 {
    font-family: 'Teko', sans-serif;
    border: 1px;
    color: rgb(87, 84, 84);
    font-size: 24px;
    justify-items: center;
    align-items: center;
    /* font-size: 5vmin; */
    /* border-color: rgb(228, 15, 15);
    border-style: solid; */
}

h4 {
    font-family: 'Glegoo', serif;
    /* border-color: rgb(228, 15, 15);
    border-style: solid; */
}



/* main * {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.image {
    grid-column: span 3;
    display: flex;
    content: src("icon.JPG");

}

button {
    width: 11vmin;
    height: 4vmin;
    font-family: 'Teko', sans-serif;
    font-size: 2vmin;
    background-color: black;
    color: white;
    border-color: white;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3vmin;
    /* display: flex;
    justify-content: center;
    /* align-items: center; */
}

#roll {
    /* flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
    grid-column: 2/3;
}

#hold {
    /* flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
    grid-column: 6/7;
}


#reset {
    /* flex-direction: row;
    justify-content: flex-start; */
    grid-column: 4/5;
    /* margin-bottom: 5vmin; */
}

#rules {
    grid-column: 4/5;
    font-family: 'Teko', sans-serif;

}


button:hover {
    background-color: whitesmoke;
    color: black;
}

footer {
    /* display: flex; */
    align-self: center;
}

#watermark {
    background: url(images/watermark.png) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 10%;
    opacity: 18%;
}